@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&display=swap");
.subtitulos {
  position: relative;
  top: 5%;
  text-align: left;
  padding: 1em 0;
  margin: 10px 50px;
  width: 100%;
  animation-name: subtitulosmov;
  animation-iteration-count: 1;
  animation-duration: 500ms;
  animation-delay: 0ms; }

@keyframes subtitulosmov {
  from {
    transform: translateX(-200px);
    opacity: 0; }
  to {
    transform: translateX(0);
    opacity: 100; } }

.descripcion {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 8% 25%;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-align: center;
  border: solid 1px white; }

.redesFooter {
  width: 100%;
  display: flex;
  align-items: center; }
  .redesFooter .linkFooter {
    color: white; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(0deg, #537895 0%, #09203f 74%); }

.grid-areas {
  display: grid;
  grid-template-areas: "menu menu" "cuerpo cuerpo" "pie pie";
  grid-template-rows: 7% auto 10%;
  grid-row-gap: 10px;
  grid-template-columns: 1fr; }

nav {
  grid-area: menu; }

main {
  width: 100%;
  height: auto;
  grid-area: cuerpo; }

footer {
  grid-area: pie; }

nav {
  width: 95%;
  padding: 10px;
  margin: auto;
  display: flex;
  font-size: 17px;
  justify-content: baseline;
  align-items: center; }
  nav .nav-logo {
    width: 50px;
    position: relative;
    left: 5%; }
  nav .menu {
    padding: 10px;
    margin: 1px;
    position: relative;
    left: 35%;
    font-size: 20px; }

ul li {
  list-style-type: none;
  display: inline; }
  ul li a {
    padding: 10px;
    color: white;
    text-decoration: none; }
    ul li a:hover {
      border-bottom: 2px solid white; }

h1 {
  font-style: bold;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-align: center;
  margin-top: 305px;
  color: white;
  animation-name: h1-index;
  animation-iteration-count: 1;
  animation-duration: 3s;
  animation-delay: 0ms; }

@keyframes h1-index {
  from {
    opacity: 0; }
  to {
    opacity: 100; } }

h2 {
  font-style: bol d;
  font-size: 55px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-align: center;
  color: white;
  animation-name: h2-index;
  animation-iteration-count: 1;
  animation-duration: 7s;
  animation-delay: 0s; }

@keyframes h2-index {
  from {
    opacity: 0; }
  to {
    opacity: 100; } }

h3 {
  font-style: normal;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin-bottom: 5%;
  text-align: center;
  color: white;
  animation-name: h3-index;
  animation-iteration-count: 1;
  animation-duration: 11s;
  animation-delay: 0s; }

@keyframes h3-index {
  from {
    opacity: 0; }
  to {
    opacity: 100; } }

.redes-inicio {
  width: 95%;
  padding: 10px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: redes-index;
  animation-iteration-count: 1;
  animation-duration: 4s;
  animation-delay: 0s; }

@keyframes redes-index {
  from {
    transform: translateY(200px);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 100; } }
  .redes-inicio .redes-inicio a {
    color: black;
    padding: 3px 30px; }
    .redes-inicio .redes-inicio a:hover {
      border: none; }

footer {
  background-color: #2e2d2d;
  font-style: normal;
  font-family: 'Montserrat', sans-serif;
  color: white; }
  footer .copy {
    font-size: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    float: right; }
